#Portfolio {
    background-color: #f4f4f9; 
    color: #333;
    padding: 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1500px;
    margin: 2rem auto; 
    text-align: center; 
}

#Portfolio h2 {
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
    color: goldenrod; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#Project {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 300px;
}

#Project img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 8px;
}

#Project h3 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

#Project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    #Portfolio {
        padding: 1rem;
    }

    #Portfolio h2 {
        font-size: 2rem; 
    }
}